@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* ของฝังซ้าย */
.sidebar {
    /* กำหนดให้ sidebar fixed ไว้ ไม่ว่าจะเลื่อนหน้าเว็บไปที่ไหนก็ตาม */
    background: rgb(233, 233, 255);
    /* ถือตำแหน่งเริ่มต้นเหมือนกับตำแหน่งเดิม  */
    /* position: relative; */
    width: 290px;
    /* สูงให้เต็มหน้า */
    height: 100vh;
    /* background-color: #333; */
    /* padding: 1rem; */
    transition: 0.2s linear;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

nav {
    position: relative;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    /* padding: 0.5rem; */
    /* background: #fff; */
    overflow: hidden;
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 30px rgb(0, 0, 0 , 0.2); */
}

.logo img {

    width: 100%;
    height: 130px;
    border-radius: 10px;
}

/* ของฝังซ้าย */
.menu_list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.2);
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0.6rem;
    color: rgb(39, 39, 39);
    font-weight: 500;
    overflow: hidden;
    /* ไม่ให้มีการเพิ่มขีดเส้นใต้ข้อความในเมนู */
    text-decoration: none;
    /* กำหนดให้เมนูเป็นบล็อก (block) ที่จะมีความกว้างเท่ากับพื้นที่ใน sidebar และขึ้นบรรทัดใหม่แต่ละเมนู */
    display: block;
}

.menu_list i {
    font-size: 1.2rem;
    color: rgb(104, 103, 103);
    margin: 0 1.8rem 0 0.3rem;
}

.menu_list span {
    color: rgb(104, 103, 103);
    font-size: 12px;
    padding: 0.6rem 0.6rem 0.3rem 0.8rem;
}

.menu-logout {
    position: absolute;
}

/* ซ้าย เมื่อเล้งไปจะเปลี่ยนสี */
nav a:hover {
    border-radius: 10px;
    background: rgb(238, 237, 237);
}

section {
    display: flex;
    gap: 20px;
}

/* ส่วนฟอร์ม */
.main-content {
    flex: 1;
    display: flex;
    padding: 20px;
    /* ตรงกลางแนว Y ตั้ง*/
    justify-content: center;
    /* ปรับให้อยู่แนว x นอน */
    /* align-items: center; */

    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
}

/* ขวา */
/* .main-content { */
/* display: flex;
    position: relative; */
/* justify-content: center;
    align-items: center; */
/* margin-left: 250px;
    padding: 20px;
} */

h1 {
    font-size: 30px;
    margin: 0px 0px 15px 0px;
    text-align: center;

}


#editMusicForm {
    width: 50%;
    margin: 0px 20px 0px 20px;
    /* margin: 20px auto; */
    padding: 20px;
    /* background-color: #fff;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

#editMusicForm div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

input[type="text"],
input[type="file"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 18px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* ส่วนรูปและเล่นเสียง */
.content {
    background-color: #fff;
    margin: 20px 0px 20px 0px;
    /* padding: 20px */
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image-wrapper {
    display: flex;
    padding: 30px;
    /* justify-content: \; */
}

.music-image {
    width: 300px;
    height: 300px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    /* margin-top: 5px; */
    padding: 7px;
    /* margin-top: 20px;
    margin-right: 50px; */
}

/* ปรับรูป */
.music-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #0f0f0f;
    background: #fff;
}